<li class="has-dropdown">
  <a href="{{ site.baseurl }}/models/index.html">Models</a>
  <ul class="dropdown">
    <li><a href="{{ site.baseurl }}/models/container-type.html">Container type</a></li>
    <li><a href="{{ site.baseurl }}/models/waste-container.html">Waste container</a></li>
    <li><a href="{{ site.baseurl }}/models/item.html">Item</a></li>
    <li><a href="{{ site.baseurl }}/models/material.html">Material</a></li>
    <li><a href="{{ site.baseurl }}/models/task.html">Task</a></li>
    <li><a href="{{ site.baseurl }}/models/waste-event.html">Waste event</a></li>
    <li><a href="{{ site.baseurl }}/models/waste-service.html">Waste service</a></li>
    <li><hr/></li>
    <li><a href="{{ site.baseurl }}/models/address.html">Address</a></li>
    <li><a href="{{ site.baseurl }}/models/place.html">Place</a></li>
  </ul>
</li>
<li class="has-dropdown">
  <a href="{{ site.baseurl }}/taxonomies/index.html">Taxonomies</a>
  <ul class="dropdown">
    <li><a href="{{ site.baseurl }}/taxonomies/bulky-items.html">Bulky items</a></li>
    <li><a href="{{ site.baseurl }}/taxonomies/container-types.html">Container types</a></li>
    <li><a href="{{ site.baseurl }}/taxonomies/materials.html">Materials</a></li>
    <li><a href="{{ site.baseurl }}/taxonomies/missed-collections.html">Missed collections</a></li>
  </ul>
</li>
<li class="has-dropdown">
  <a href="{{ site.baseurl }}/apis/index.html">APIs</a>
  <ul class="dropdown">
    <li><a href="{{ site.baseurl }}/apis/waste_services.html">Waste services</a></li>
  </ul>

</li>
<li><a href="{{ site.baseurl }}/data/data-formats.html">Data</a></li>
