#%RAML 0.8
---
title: Waste Services API
version: v0.1
baseUri: http://api.council.gov.uk/waste

schemas:
- event: !include ../schemas/event.schema.json
  # events: !include ../schemas/events.json

resourceTypes:
- collection:
    usage: This resourceType should be used for any collection of items
    description: The collection of <<resourcePathName>>
    get:
      description: Get all <<resourcePathName>>, optionally filtered
    post:
      description: Create a new <<resourcePathName | !singularize>>

/services:
  displayName: Services
  description: A Service is what a council offers to citizens. There are a number of waste and recycling related services offered by most councils.
  get:
    description: Get a list of waste services
    responses:
      200:
        body:
          application/json:
            example: |
              [
                {
                  "id": 1,
                  "name": "Recycling service",
                  "frequency": "weekly",
                  "esd_id": "http://id.esd.org.uk/service/524",
                  "description": "Please put your recycling box on the street."
                }
              ]

/events:
  displayName: Events
  type: collection
  get:
    description: Get a list of events
    queryParameters:
      uprn:
        type: string
      usrn:
        type: string
      eventType:
        type: string
        description: The short name of an event type, e.g. "Not presented".
    responses:
      200:
        body:
          application/json:
            # example: !include ../examples/event.json

  /{eventId}:
    get:
    description: Get a single event
    responses:
      200:
        body:
          application/json:
            example: !include ../examples/event.json
